#certificate-input-form{
	margin-top: 50px;
}

#file-upload{
	margin: 10px;
}

#file-type-label{
	margin: 10px;
}

#submit-button{
	width: 200px;
	height: 40px;
	margin: 10px;
}

center{
	margin: 25px;
}
ul {
  list-style-type: none;
  width: 500px;
}
 
li img {
  float: left;
  margin: 0 15px 0 0;
}
 
li p {
  font: 200 16px/1.5 serif;
}
 
li {
  padding: 10px;
  overflow: auto;
}